*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	/*width: 100vw;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg{
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(to right, #1d2b64, #f8cdda);
	z-index: -1;
	transition: 850ms;
}

.btn{
	height: 50px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background:linear-gradient(to right, #12c2e9, #c471ed, #f64f59) ;
	font-family: cursive;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blind{
	position: absolute;
	width: 10px;
	height: 0px;
	background: whitesmoke;
	top: 0;
	border: 1px dashed black;
}
.string{
	width: 5px;
	height: 80px;
	background-color: ghostwhite;
	position: absolute;
	right: -6.5px;
	/*bottom: -30px;*/
	border-radius: 2px;
	top: 0;
	transition: 850ms;
}

.string-end {
	height: 15px;
	width: 15px;
	background-color: ghostwhite;
	position: absolute;
	right: -11px;
	bottom: -42px ;
	border-radius: 5px 5px 0 0;
	transition: 850ms;
}

.btn:hover .string{
	height: 55px;
}

.btn:hover .string-end{
	bottom: -19px;
}

.btn:hover .blind{
	height: 50px;
}

.btn:hover .bg {
	filter: brightness(20%);
}


#b1{
	left: 0;
	transition: 150ms;
}
#b2{
	left: 10px;
	transition: 200ms;
}
#b3{
	left: 20px;
	transition: 250ms;
}
#b4{
	left: 30px;
	transition: 300ms;
}
#b5{
	left: 40px;
	transition: 350ms;
}
#b6{
	left: 50px;
	transition: 400ms;
}
#b7{
	left: 60px;
	transition: 450ms;
}
#b8{
	left: 70px;
	transition: 500ms;
}
#b9{
	left: 80px;
	transition: 550ms;
}
#b10{
	left: 90px;
	transition: 600ms;
}
#b11{
	left: 100px;
	transition: 650ms;
}
#b12{
	left: 110px;
	transition: 700ms;
}
#b13{
	left: 120px;
	transition: 750ms;
}
#b14{
	left: 130px;
	transition: 800ms;
}
#b15{
	left: 140px;
	transition: 850ms;
}
#b16{
	left: 150px;
	transition: 900ms;
}
